body {
  background-image: url(../images/pb-background.jpg);
  background-size: 150%;
  color: white !important;
}

.jumbotron-fluid {
  background-image: url(../images/jif.png);
  background-size: cover;
  font-family: 'Asset', cursive;
  text-align: center;
}

/* search form */
#formGroup {
  font-family: 'Asset', cursive !important;
  text-align: center;
  background-color: #DD283B;
  padding: 20px;
}

#addButton {
  background: #2657A3 !important;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
}

#formP {
  font-family: 'Noto Sans JP', sans-serif !important;
}

/*sub-container with card displays*/
#choosyButtonsDiv {
  text-align: center;
  background-color: #2657A3;
  padding: 10px;
}

.card {
  height: auto;
  width: 360px !important;
  background-image: url(../images/jif.png);
  background-size: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: bolder !important;
}

img {
  height: 200px !important;
}

.sub-container h3 {
  font-family: 'Asset', cursive !important;
  padding: 20px;
}

.sub-container button {
  font-family: 'Noto Sans JP', sans-serif !important;
  color: white;
  background-color: #01A33C;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin-bottom: 10px;
}

/* JIF COLORS: red #DD283B; blue #2657A3; green #01A33C; */